<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="google-signin-client_id" content="588540195760-hcdajff27nks237qftbi4tqouump4p3k.apps.googleusercontent.com">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
