{% extends 'base.html.twig' %}

{% block title %} Trabajo Practico Cloud Computing {% endblock %}

{% block body %}
	<h1 class="MainTitle">Trabajo Practico Cloud Computing</h1>
	<div class="container HomePage">
		<a class="HomeButton" href="{{ url ('homepage') }}">Iniciar Sesi&oacute;n</a>
	</div>
{% endblock %}