{% extends 'base.html.twig' %}

{% block title %} Trabajo Practico Cloud Computing {% endblock %}

{% block body %}
	<div class="container">
		<h1>Trabajo Practico Cloud Computing</h1>
		<a href="{{ url ('homepage') }}">Iniciar Sesi&oacute;n</a>
	</div>
{% endblock %}