.MainTitle{
	margin: 0;
	padding: 20px 0;
	text-align: center;
	background: black;
	color: #fff;
	width:100;
	font-weight:bold;
}
.HomeButton{
	padding: 15px;
	background: black;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: 1px solid white;
}
.container{
	font-family: helvetica;
	max-width: 1300px;
	width: 90%;
	margin: auto;
	display:block;
}
body{
	margin: 0;
}
.button{
	padding: 15px;
	display: inline-block;
	background: black;
	color: white;
	margin: 5px;
	text-decoration: none;
}
tr td a {
    color: white;
    background: black;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    text-align: right;
    left: 90px;
    position: relative;
}
tr {
    padding: 1%;
    text-decoration: none;
}
tr:nth-child(2n) {
    background: #ececec;
}