.MainTitle{
	margin: 0;
	padding: 20px 0;
	text-align: center;
	background: black;
	color: #fff;
	width:100;
	font-weight:bold;
	margin-bottom: 20px;
}
.HomeButton{
	padding: 15px;
	background: black;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: 1px solid white;
}
.container{
	max-width: 1300px;
	width: 90%;
	margin: auto;
	display:block;
}
body{
	margin: 0;
	font-family: helvetica;
}
.button{
	padding: 15px;
	display: inline-block;
	background: black;
	color: white;
	margin: 5px;
	text-decoration: none;
}
table{
	width:100%
}
tr td a {
    color: white;
    background: black;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
}
tr td{
    padding: 2%;
    text-decoration: none;
}
tr:nth-child(2n) {
    background: #ececec;
}
button {
    padding: 10px;
    background: black;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    display: inline-block;
}
.MainTitle .button{
	color: black;
	background: white;
}
.HomePage{
	text-align:center;
}